<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Helper</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script>
        function toggleInputs(value) {
            let fourInputs = document.getElementById('fourInputs');
            let eightInputs = document.getElementById('eightInputs');

            if (value === '4') {
                fourInputs.style.display = 'block';
                eightInputs.style.display = 'none';
            } else if (value === '8') {
                fourInputs.style.display = 'none';
                eightInputs.style.display = 'block';
            }
            else {
                fourInputs.style.display = 'block';
                eightInputs.style.display = 'block';
            }
        }
    </script>
</head>
<body>

<div class="container">
    <hr/>
    <div th:if="${isShowSuccess}">
        <div class="alert alert-success" role="alert">
            Reports has been downloaded at D:\HourReport
        </div>
    </div>
    <div th:if="${!isShowSuccess}">
        <form action="#" th:action="@{/submit}" th:object="${form}" method="post">
            <h4 > EMPLOYEE NAME</h4>
            <div>
                <input class="form-control" style="width: 200px"  type="text" th:field="*{employeeName}" placeholder="LeVietDong" />
            </div>

            <!--        <h4 > Pick time report</h4>-->
            <!--        <div class="form-check">-->
            <!--            <input class="form-check-input" type="radio" name="choice" value="4" onchange="toggleInputs(this.value)" />-->
            <!--            <label class="form-check-label" >-->
            <!--                Morning-->
            <!--            </label>-->
            <!--            <br>-->
            <!--            <input class="form-check-input" type="radio" name="choice" value="8" onchange="toggleInputs(this.value)"/>-->
            <!--            <label class="form-check-label" >-->
            <!--                Afternoon-->
            <!--            </label>-->
            <!--            <br>-->
            <!--            <input class="form-check-input"  type="radio" name="choice" value="12" onchange="toggleInputs(this.value)" checked>-->
            <!--            ALL DAY-->
            <!--        </div>-->
            <h2 class="text-center">REPORT DETAILS</h2>
            <div id="fourInputs" style="display:block;">
                <label class="form-label" style=" font-weight: bold;">8H-9H</label>
                <div class="form-check">
                    <input  class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[0]}" checked>
                    <label class="form-check-label" >
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea  class="form-control"  th:field="*{descriptions[0]}" placeholder=".... " required>
                    </textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress" style="margin-right: 10px">Remark</label>
                    <input id="progress" class="form-control" style="width: 600px" type="text" th:field="*{remarks[0]}" placeholder="...." />
                </div>
                <br>

                <label class="form-label" style="font-weight: bold;">9H-10H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[1]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[1]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-9h" style="margin-right: 10px">Remark</label>
                    <input id="progress-9h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[1]}" placeholder="...." />
                </div>
                <br>

                <!-- 10H-11H -->
                <label class="form-label" style="font-weight: bold;">10H-11H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[2]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[2]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-10h" style="margin-right: 10px">Remark</label>
                    <input id="progress-10h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[2]}" placeholder="...." />
                </div>
                <br>

                <!-- 11H-12H -->
                <label class="form-label" style="font-weight: bold;">11H-12H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[3]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[3]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-11h" style="margin-right: 10px">Remark</label>
                    <input id="progress-11h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[3]}" placeholder="...." />
                </div>
                <br>
            </div>

            <div id="eightInputs" style="display:block;">
                <label class="form-label" style="font-weight: bold;">13H-14H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[4]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[4]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-13h" style="margin-right: 10px">Remark</label>
                    <input id="progress-13h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[4]}" placeholder="...." />
                </div>
                <br>

                <!-- 14H-15H -->
                <label class="form-label" style="font-weight: bold;">14H-15H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[5]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[5]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-14h" style="margin-right: 10px">Remark</label>
                    <input id="progress-14h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[5]}" placeholder="...." />
                </div>
                <br>

                <!-- 15H-16H -->
                <label class="form-label" style="font-weight: bold;">15H-16H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[6]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[6]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-15h" style="margin-right: 10px">Remark</label>
                    <input id="progress-15h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[6]}" placeholder="...." />
                </div>
                <br>

                <!-- 16H-17H -->
                <label class="form-label" style="font-weight: bold;">16H-17H</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="y" th:value="y" th:field="*{isCompletes[7]}" checked>
                    <label class="form-check-label">
                        Is Completed?
                    </label>
                </div>
                <div>
                    <label>Job Content</label>
                    <textarea class="form-control" th:field="*{descriptions[7]}" placeholder="...." required></textarea>
                </div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px">
                    <label for="progress-16h" style="margin-right: 10px">Remark</label>
                    <input id="progress-16h" class="form-control" style="width: 600px" type="text" th:field="*{remarks[7]}" placeholder="...." />
                </div>
                <br>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Download report</button>
            </div>
        </form>
    </div>



</div>
>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>